.tab-item {
  border-bottom: 0.5px solid #E52138;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 6px;
  cursor: pointer;
}

.selected-tab {
  border-bottom: 3px solid #E52138;
  color: #101828;
}

.pickup-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
